.error {
  &-page {
    color: $main-color;
  }

  &-image {
    position: relative;
    margin-top: 10vh;

    &-draw {
      margin: 4.7vw 0 2vw;
      width: 23vw;
    }

    &-title {
      position: absolute;
      top: -24vw;
      left: 25vw;
      letter-spacing: 3vw;
      font-size: 30vw;
    }
  }

  &-content {
    font-size: 1.6rem;

    @media (max-width: 520px) {
      font-size: 1.2rem;
    }
  }

  &-link {
    position: relative;
    z-index: 2;
    color: $main-color;
    cursor: pointer;
  }
}
