.sign-in {
  &-button {
    @include btn;
  }

  &-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }

  &-icon {
    font-size: 5rem;
  }
}

.input-remember {
  display: flex;

  & label {
    margin-left: 0.25rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  & label {
    font-weight: bold;
  }

  & input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
