.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &-links {
    display: flex;
    gap: 0.6rem;
  }

  & a {
    font-weight: bold;
    color: #2c3e50;
    white-space: nowrap;
  }

  & a.router-link-exact-active {
    color: #42b983;
  }

  &-logo {
    display: flex;
    align-items: center;
  }
}

.main-nav .main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav .main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.fa {
  margin-right: 0.3rem;
}
